
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

#one, #two, #three, #four {
    position: absolute;
    width: 25%;
    margin: 25px;
    padding: 5px;
    font-size: 25px;
}

#one {
    right: 0;
    bottom: 0;
    border: 5px solid darkblue;
}

#two {
    right: 0;
    top: 0;
    border: 5px solid green;
}

#three {
    left: 0;
    top: 0;
    border: 5px solid orangered;
}

#four {
    left: 0;
    bottom: 0;
    border: 5px solid yellow;
}

#link > a {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); 
    background-color: #0a4b33;
    text-decoration: none;
    color: white;
    padding: 5px;
}