{% extends "base_menu.html" %}
{% block content %}
<h1>Welcome to {{ settings.APP_NAME }}{{ APP_NAME }}</h1>

<ul>
    <li>
        <p><a href="polls">go to Polls Application</a></p>
    </li>
    <li>
        <p><a href="autos">go to Autos Application</a></p>
    </li>
    <li>
        <p><a href="hello">go to hello page</a></p>
    </li>
    <li>
        <p><a href="cats">go to cats page</a></p>
    </li>
    <li>
        <p><a href="admin">go to admin page</a></p>
    </li>
</ul>

{% endblock %}