{% extends "base_bootstrap.html" %}

{% block content %}

<h1>autos list</h1>

{% for auto in object_list %}
<h4>{{auto.nickname}} 
    <a href="main/{{auto.id}}/update">update</a>/
    <a href="main/{{auto.id}}/delete">delete</a></h4>
{% endfor %}


{% if makes_list|length > 0 %}
<a href="main/create" >create new car</a>
{% else %}
<h3>there are no cars :(</h3>
{% endif %}
<h3>Makes (<a href="lookup">View makes</a> )</h3>
{% for make in makes_list %}
<h4>{{make.name}} (<a href="lookup/{{make.id}}/update">update</a>/
    <a href="lookup/{{make.id}}/delete">delete</a>)</h4>
{% endfor %}
<a href="lookup/create" >Add a make</a>


{% endblock %}