
    {% extends "base_menu.html" %}
    {% block title %}
    ... 8ab952 ...
    {% endblock %}
    {% block content %}

    <h1>All the <strong>polls</strong></h1><br>
    <span>Hello this is the string i need to add: 05ede5ce</span><br>
    <div>
        <ul>
            {% if latest_questions_list %}
            {% for question in latest_questions_list %}

            <li>ID: {{question.id}} / <a href="{% url 'polls:detail' question.id %}"> {{question.question_text}}</a>
                <!-- (<a href="polls/{{poll.id}}/update">update</a>/<a href="polls/{{poll.id}}/delete">delete</a> -->
            </li>



            {% endfor %}
            {% else %}
            <li>No polls are available.</li>
            {% endif %}
        </ul>
    </div>
    <p>this is the <em>index</em> of the page and uh... </p>

    {% endblock %}