<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ... 8ab952 ... </title>
</head>

<body>

    <h1>All the <strong>polls</strong></h1><br>
    <span>Hello this is the string i need to add: 05ede5ce</span><br>
    <div>
        <ul>
            {% if latest_questions_list %}
            {% for question in latest_questions_list %}

            <li>ID: {{question.id}} / <a href="{% url 'polls:detail' question.id %}"> {{question.question_text}}</a>
                <!-- (<a href="polls/{{poll.id}}/update">update</a>/<a href="polls/{{poll.id}}/delete">delete</a> -->
            </li>



            {% endfor %}
            {% else %}
            <li>No polls are available.</li>
            {% endif %}
        </ul>
    </div>
    <p>this is the <em>index</em> of the page and uh... </p>
</body>

</html>