{% extends "base_menu.html" %}

{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        /*dim the background*/
    }
</style>
{% endblock %}
{% block content %}
{% if object.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
    onclick="document.getElementById('overlay').style.display = 'none';">
    <img style="height:90%;margin-top: 50px; border:3px solid black;" src="{% url 'ads:ads_picture' object.id %}">
</div>
{% endif %}
<span style="float: right; font-size: x-large">
    last updated ({{ object.updated_at|naturaltime }})
    {% if object.owner == user %}
    <a href="{% url 'ads:ads_update' object.id %}"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'ads:ads_delete' object.id %}"><i class="fa fa-trash"></i></a>
    {% endif %}
</span>
<h1>{{ object.title }}</h1>
{% if object.content_type %}
<img style="float:right; max-width:50%;" src="{% url 'ads:ads_picture' object.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}
<div style="font-size: large;">
    <p>
        text: {{ object.text }}
    </p>
    <p>
        price: ${{ object.price|floatformat:2 }}
    </p>
    <p>
        owner: {{ object.owner }}
    </p>
    {% if object.tags.all %}
    <p>Tags:
        {% for tag in object.tags.all %}
        <span style="border:1px grey solid; background-color: LightGreen;">{{ tag }}</span>
        {% endfor %}
    </p>
    {% endif %}
    <a href="{% url 'ads:ads_list' %}">All ads</a>
</div>
<div style="width: fit-content">
    <h2>Comments</h2>
    {% if user.is_authenticated %}

    <p>
        {% load crispy_forms_tags %}
    <form method="post" action="{% url 'ads:ads_comment_create' object.id %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Submit">
        <input type="submit" value="All Forums" onclick="window.location.href='{% url 'ads:ads_list' %}';return false;">
    </form>
    </p>
    {% endif %}
    {% if comments %}
    {% for comment in comments.all %}
    <div style="border: 1px solid black; margin: 10px; padding: 10px; width: fit-content;">
        <p>
            {{ comment.text }}
        </p>
        <p>
            Author: {{ comment.owner }}
        </p>
        <p>
            Created: {{ comment.created_at|naturaltime }}
        </p>
        {% if comment.owner == user %}
        <a href="{% url 'ads:ads_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
        you are owner
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <p>
        No comments yet
    </p>
    {% endif %}


</div>
{% endblock %}